*.pyc
*.so
*.lock*
/home/
/activities/*.activity
/build/out/
/build/logs/
/build/state/
/at-spi2-atk/
/at-spi2-core/
/atk/
/automake/
/browse/
/chat/
/dbus-python/
/recess/
/docker/
/gcr/
/glib/
/webL10n/
/gnome-keyring/
/gobject-introspection/
/gst-plugins-espeak/
/gtk+/
/gwebsockets/
/harfbuzz/
/imageviewer/
/jshint/
/jukebox/
/libsecret/
/libsoup/
/libxklavier/
/log/
/metacity/
/node/
/grunt-cli/
/karma/
/pep8/
/pippy/
/pygobject/
/read/
/turtleart/
/sugar-artwork/
/sugar-base/
/sugar-datastore/
/sugar-docs/
/sugar-runner/
/sugar-toolkit-gtk3/
/sugar-toolkit/
/sugar/
/sugar-web-template/
/sugar-web-test/
/sugar-web/
/telepathy-glib/
/telepathy-mission-control/
/terminal/
/volo/
/webkitgtk/
/flake8/
/json-format/
/js-beautify/
/clock-web/
/gtd-activity/
/pyflakes/
/write/
/prefs.json
