[submodule "scripts/jhbuild"]
	path = scripts/jhbuild
	url = git://git.gnome.org/jhbuild
[submodule "activities/terminal"]
	path = activities/terminal
	url = git://git.sugarlabs.org/terminal/mainline.git
